.cell {
  width: 10px;
  height: 10px;
  background-color: aquamarine;
  border-radius: 8px;
}

.alive {
  background-color: teal;
}

.dead {
  background-color: aquamarine;
}

.cell:hover {
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.2);
}
