@import 'utility';
@import 'Cell';
@import 'Board';

html {
  height: 100vh;
}

body {
  height: 100vh;
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/de/ea/8d/deea8d07022423decf55fd7fe2630eea.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @include full-height;
}

.App-intro {
  height: 100vh;
}

.Header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}

.ControlPad {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    height: 40px;
    min-width: 100px;
    background: lighten($button-bg-color, 10%);
    border: none;
    outline: none;
    color: white;
    font-family: inherit;
    font-weight: 400;
    font-size: 20px;
    border-radius: 3px;
    box-shadow: 0 5px darken($button-bg-color, 2%);
    border-bottom: 2px solid darken($button-bg-color, 5%);

    &:hover {
      background: darken($button-bg-color, 5%);
      box-shadow: 0 4px 1px darken($button-bg-color, 5%);
      border-bottom: 2px solid darken($button-bg-color, 8%);
      transition: all 0.2s ease-in;
    }

    &:active {
      transform: translateY(4px);
      border-bottom-width: 2px;
      box-shadow: none;
    }
  }
}
